.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo-adjust{
  width: 150px;
}
.padd-15{
  padding: 15px;
}
.footer-styling{
  padding: 10px 15px;
  background: #000;
}
.footer-styling p{
  text-align: center;
  color: #fff;
  margin-bottom: 0px;
}
